.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoName {
  font-size: 21px;
  color: white;
}

.logoImage {
  width: 25px;
  height: 27px;
}

.contentContainer {
  background-color: white;
  padding-bottom: 40px;
  margin-top: 60px;
}

.bannerImage {
  max-height: 600px;
}

.headerButton {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  color: white;
}

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.bannerText {
  padding: 24px;
  display: flex;
  flex-direction: column;
  max-width: 492px;
  gap: 12px;
}

.bannerLogo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.bannerLogoText {
  font-size: 24px;
  font-weight: 600;
  color: #D976C2;
}

.bannerHero {
  color: #333333;
  font-weight: bold;
  font-size: 40px
}

.bannerCta {
  font-size: 18px;
  color: white;
  width: 140px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #333333;
  margin-top: 24px;
  cursor: pointer;
}

.infoCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.infoCardsRow {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.infoContainer {
  display: flex;
  max-width: 420px;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 18px;
}

.infoImage {
  height: 250px;
}

.infoHeader {
  font-size: 24px;
  font-weight: bolder;
  color: #001122
}

.infoText {
  font-size: 20px;
  font-weight: 400;
  color: #888888;
  text-align: center;
}

.footerContainer {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.footerText {
  font-size: 14px;
  color: #C9C9C9;
}

@media (min-width: 701px) and (max-width: 1090px) {
  .bannerContainer {
    flex-direction: column;
  }

  .infoCardsContainer {
    gap: 20px;
  }

  .infoCardsRow {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .bannerImage {
    display: none;
  }

  .bannerLogo {
    display: none;
  }

  .infoCardsRow {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .infoCardsContainer {
    gap: 20px;
  }

  .footerContainer {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
